# ===========================
# Python
# ===========================

__pycache__/
*.py[cod]
*.so
*.egg-info/

# ===========================
# Environnement virtuel
# ===========================

.venv/
venv/
.env

# ===========================
# Jupyter
# ===========================

.ipynb_checkpoints/

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# MLflow
# ===========================

mlflow.db
.artifacts_segmentation/

# ===========================
# Données
# ===========================

data/

# ===========================
# Modèles entraînés
# ===========================

*.pt
*.pth
*.ckpt
*.onnx

# Mais conserve le modèle de production
!api/model/meilleurs_poids.pt

# ===========================
# Logs
# ===========================

*.log